<div class="col-md-6">
  <div class="card bg-light h-100">
    <div class="card-body d-flex align-items-end" [ngStyle]="{'background-image': 'url(' + provider.imageUrl +')'}">
      <div class="card-title-wrapper w-100">
        <h1 class="card-title w-100 text-center grow">
          <a [routerLink]="['/providers', provider.id]">
            {{ provider.name }}
          </a>
        </h1>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <a [href]="provider.sourceUrl" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faRedirectToProvider"></fa-icon> Redirect to {{ provider.name }}
      </a>
      <a [routerLink]="['/providers', provider.id]">
        <fa-icon [icon]="faGoToPrograms"></fa-icon> Go to Programs
      </a>
    </div>
  </div>
</div>
