<app-provider-breadcrumb></app-provider-breadcrumb>

<div class="container">
  <ng-template [ngIf]="isLoading" [ngIfElse]="loaded">
    <div class="d-flex justify-content-center">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </ng-template>

  <ng-template #loaded>
    <app-provider-list [providers]="providers$ | async"></app-provider-list>
  </ng-template>

</div>
