<div class="row">
  <div class="col-12 col-lg-6 col-md-8 offset-lg-3 offset-md-2">
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="email" id="email" class="form-control" ngModel name="email" required email />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6" />
      </div>
      <div>
        <button class="btn btn-success w-100" type="submit" [disabled]="!authForm.valid">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Login
        </button>
      </div>
    </form>
  </div>
</div>
