<div class="row">
  <div class="input-group col-12 col-sm-9 col-md-10 p-1 align-self-center">
    <div class="input-group-prepend">
      <div class="input-group-text">Date Range</div>
    </div>
    <input type="text" placeholder="start date - end date" class="form-control"
           bsDaterangepicker [(ngModel)]="bsRangeValue"
           [bsConfig]="{ isAnimated: true }">
    <div class="input-group-append">
      <button class="btn btn-secondary" (click)="onClearDate()">X</button>
    </div>
  </div>

  <div class="input-group col-12 col-sm-3 col-md-2 p-1 align-self-center">
    <div class="btn-group w-100">
      <label class="btn btn-secondary m-0" [(ngModel)]="sortOrder"
             btnRadio="asc" tabindex="0" role="button">ASC</label>
      <label class="btn btn-secondary m-0" [(ngModel)]="sortOrder"
             btnRadio="desc" tabindex="0" role="button">DESC</label>
    </div>
  </div>

  <div class="col-12 p-1">
    <button class="btn btn-success w-100" (click)="onSearch()">Search</button>
  </div>
</div>
