<app-program-breadcrumb *ngIf="provider" [provider]="provider"></app-program-breadcrumb>

<div class="container">
  <ng-template [ngIf]="isLoading" [ngIfElse]="loaded">
    <div class="d-flex justify-content-center">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </ng-template>

  <ng-template #loaded>
    <app-program-list [programs]="programs$ | async"></app-program-list>
  </ng-template>
</div>
