<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" [routerLink]="['/']">
    <fa-icon [icon]="favicon"></fa-icon> Workout Planner
  </a>

  <ng-container *ngIf="loggedIn">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsable-navbar"
            aria-controls="collapsable-navbar" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsable-navbar"
         [collapse]="isCollapsed" [isAnimated]="true">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" [ngStyle]="{'cursor': 'pointer'}" (click)="onLogout()">
            <fa-icon [icon]="faLogout"></fa-icon> Logout
          </a>
        </li>
      </ul>
    </div>
  </ng-container>
</nav>
