<div class="card bg-light h-100 p-2">
  <h2 class="card-title">{{ workout.date | date:'fullDate' }}</h2>
  <h3>
    <a [href]="workout.url" target="_blank" class="text-muted">
      {{ workout.provider.name }} - {{ workout.program.name }}
    </a>
  </h3>
  <div class="card-content" [innerHTML]="workout.content | safeHtml"></div>
</div>
