<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/providers']">Providers</a></li>
    <li *ngIf="provider" class="breadcrumb-item"><a [routerLink]="['/providers', provider.id]">{{ provider.name }}</a>
    </li>
    <li *ngIf="program" class="breadcrumb-item active" aria-current="page">{{ program.name }}</li>
  </ol>
</nav>
