<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/providers']">Providers</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ provider.name }}</li>
  </ol>
</nav>
