<app-workout-breadcrumb *ngIf="provider && program" [provider]="provider" [program]="program"></app-workout-breadcrumb>
<app-workout-filter *ngIf="provider && program" [provider]="provider" [program]="program"></app-workout-filter>

<ng-template [ngIf]="isLoading" [ngIfElse]="loaded">
  <div class="d-flex justify-content-center">
    <app-loading-spinner></app-loading-spinner>
  </div>
</ng-template>

<ng-template #loaded>
  <app-workout-list [workouts]="workouts$ | async"></app-workout-list>
</ng-template>
