<div class="col-md-6">
  <div class="card bg-light h-100">
    <div class="card-body d-flex align-items-end" [ngStyle]="{'background-image': 'url(' + program.imageUrl +')'}">
      <div class="card-title-wrapper w-100">
        <h1 class="card-title w-100 text-center grow">
          <a [routerLink]="[program.id]">
            {{ program.name }}
          </a>
        </h1>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <a [href]="program.sourceUrl" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faRedirectToProgram"></fa-icon> Redirect to {{ program.name }}
      </a>
      <a [routerLink]="[program.id]">
        <fa-icon [icon]="faGoToWorkouts"></fa-icon> Go to Workouts
      </a>
    </div>
  </div>
</div>
