:host {
  display: contents;
}

[class^='col-'] {
  padding: 15px;
}

.card-body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 6rem 0;
  width: 100%;
}

.card-title-wrapper {
  background: rgba(0, 0, 0, 0.75);
  padding: 1.5rem;
}

.card-title {
  margin-bottom: 0;

  a {
    color: white;
    font-weight: 500;
  }
}

.grow {
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.card-footer {
  a {
    color: #3e3f3f;
    font-weight: 500;
  }
}
